<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantis.imview">

    <application>
        <activity android:name=".ui.activity.MsgBoardActivity" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>
