*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/Aliyunplayer/player_demo/build/
/Aliyunplayer/AlivcPlayer/build/
/zxing/build/
/AliyunVideoCommon/build/
/Aliyunplayer/player_demo/build/
/AliyunVideoCommon/build/
/Aliyunplayer/AlivcPlayer/build/
/.idea/
