<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianpei.jpeducation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activitys.LauncherActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_px"
            android:value="1080" />
        <meta-data
            android:name="design_height_in_px"
            android:value="1920" />
    </application>

</manifest>